<div class="container">
    <div class="text-center">
        <h1 class="text-center">Panel administrator template starter</h1>
        <p class="text-center">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        <img class="img-fluid" src="application/media/images/site/wizytowka.png">
    </div>
</div>