/*-/\\\/\\\/\\\/\\\/\\\/\\\-MY RESET-/\\\/\\\/\\\/\\\/\\\/\\\-*/

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', helvetica;
}

.all-height {
    height: 100%;
}

.bg-404 {
    background: #111111;
}

.white-font {
    color: #fff;
}

footer {
    background: #E7EAED;
}

footer p {
    margin-top: 1rem;
    color: #000;
}

footer p span {
    font-family: 'Times new roman'; 
}

/*-/\\\/\\\/\\\/\\\/\\\/\\\-MY MEDIA QUERIES-/\\\/\\\/\\\/\\\/\\\/\\\-*/

@media (max-width: 575.98px) {
    
    h1 {
        font-size: 1.7rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    h5 {
        font-size: .9rem;
    }
    h6 {
        font-size: .7rem;
    }
    p {
        font-size: .7rem;
    }
}

@media (max-width: 767.98px) {...}

@media (max-width: 991.98px) {...}

@media (max-width: 1199.98px) {...}

@media (min-width: 576px) { 

    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: .9rem;
    }
    p {
        font-size: .8rem;
    }
}

@media (min-width: 768px) {

    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 1.4rem;
    }
    h5 {
        font-size: 1.2rem;
    }
    h6 {
        font-size: 1rem;
    }
    p {
        font-size: .9rem;
    }
}

@media (min-width: 992px) {

    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    h4 {
        font-size: 1.6rem;
    }
    h5 {
        font-size: 1.4rem;
    }
    h6 {
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px) {

    h1 {
        font-size: 2.4rem;
    }
    h2 {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.8rem;
    }
    h5 {
        font-size: 1.6rem;
    }
    h6 {
        font-size: 1.4rem;
    }
    p {
        font-size: 1rem;
    }
}