/*!
* Start Bootstrap - SB Admin v5.0.2 (https://startbootstrap.com/template-overviews/sb-admin)
* Copyright 2013-2018 Start Bootstrap
* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-sb-admin/blob/master/LICENSE)
*/

/*-/\\\/\\\/\\\/\\\/\\\/\\\-RESET-/\\\/\\\/\\\/\\\/\\\/\\\-*/

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
}

.ng-scope {
    width: 100%;
}

/*-/\\\/\\\/\\\/\\\/\\\/\\\-Buttons-/\\\/\\\/\\\/\\\/\\\/\\\-*/

.btn-black {
    background-color: #000;
    color: #fff;
    border-radius: 0;
    border: none;
    width: 100%;
    font-weight: 700;
    letter-spacing: .06em;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: .75rem 1.25rem;
}

.btn-black:hover {
    background-color: #fff !important;
    color: #000;
    transition: .5s;
}

.btn-gray {
    background-color: #ccc;
    color: #fff;
    border-radius: 0;
    border: none;
    width: 100%;
    font-weight: 700;
    letter-spacing: .06em;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: .75rem 1.25rem;
}

.btn-gray:hover {
    background-color: #fff !important;
    color: #292929;
    transition: .5s;
}

.btn-blue {
    background-color: #7E98AB;
    color: #fff;
    border-radius: 0;
    border: none;
    width: 100%;
    font-weight: 700;
    letter-spacing: .06em;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: .75rem 1.25rem;
}

.btn-danger {
    background-color: #ef3b39;
    color: #fff;
    border-radius: 0;
    border: none;
    font-weight: 700;
    letter-spacing: .06em;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: .75rem 1rem;
}

.btn-blue:hover {
    background-color: #ccc !important;
    color: #000;
    transition: .5s;
}
.btn-black:focus, .btn-gray:focus, .btn-blue:focus, .btn-danger:focus {
    border: none !important;
    box-shadow: none !important;
}

.card {
    border-radius: 0;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.margin-top {
    margin-top: 50px;
}

/*-/\\\/\\\/\\\/\\\/\\\/\\\-Modal dialog logout-/\\\/\\\/\\\/\\\/\\\/\\\-*/

.modal-dialog {
    max-width: 380px;
}

.modal-dialog .modal-title {
    width: 100%;
    text-align: center;
}

.dropdown-menu {
    border: none !important;
    border-radius: 0;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.25), 0 3px 5px 0 rgba(0,0,0,.25);
    padding: 0;
    width: 100%;
    text-align: center;
}

.dropdown a {
    text-align: center;
}

.dropdown-menu a:hover {
    background: #CCCCCC;
    color: #fff;
    transition: .5s;
}

.dropdown-menu-right a {
    padding: 3px;
}

.modal-content {
    border-radius: 0;
    border: 0;
}

/*-/\\\/\\\/\\\/\\\/\\\/\\\-Navigation top-/\\\/\\\/\\\/\\\/\\\/\\\-*/

nav.navbar.bg-dark {
    background: #000 !important;
}

nav.navbar button i.fa-bars {
    margin-right: 15px;
    font-size: 45px;
}

nav.navbar .navbar-brand img {
    height: auto;
}

@media (max-width: 575px) {
    nav.navbar button i.fa-bars {
        margin-right: 0;
    }
}

nav.navbar .navbar-nav {
    margin-left: auto;
}

nav.navbar .navbar-nav .fa-user-circle {
    font-size: 18px;
}

nav.navbar .navbar-nav .dropdown-menu {
    min-width: auto;
}

#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#wrapper #content-wrapper {
    overflow-x: hidden;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 80px;
}

body.fixed-nav #content-wrapper {
    margin-top: 56px;
    padding-left: 90px;
}

body.fixed-nav.sidebar-toggled #content-wrapper {
    padding-left: 0;
}

@media (min-width: 768px) {
    body.fixed-nav #content-wrapper {
        padding-left: 225px;
    }
    body.fixed-nav.sidebar-toggled #content-wrapper {
        padding-left: 90px;
    }
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 25px;
    height: auto;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 15px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
}

.scroll-to-top:hover {
    background: #343a40;
}

.scroll-to-top i {
    font-weight: 800;
}

.smaller {
    font-size: 0.7rem;
}

.o-hidden {
    overflow: hidden !important;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.navbar-nav .form-inline .input-group {
    width: 100%;
}

.navbar-nav .nav-item.active .nav-link {
    color: #fff;
}

.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
}

.navbar-nav .nav-item.dropdown.show .dropdown-toggle::after {
    content: '\f107';
}

.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.navbar-nav .nav-item .nav-link:focus {
    outline: none;
}

.navbar-nav .nav-item .nav-link .badge {
    position: absolute;
    margin-left: 0.75rem;
    top: 0.3rem;
    font-weight: 400;
    font-size: 0.5rem;
}

@media (min-width: 768px) {
    .navbar-nav .form-inline .input-group {
        width: auto;
    }
}

.sidebar {
    width: 90px !important;
    background: #000;
    min-height: calc(100vh - 56px);
}

.sidebar .nav-item:last-child {
    margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 90px;
}

.sidebar .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
}

.sidebar .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(90px + 0.5rem) !important;
    margin: 0;
}

.sidebar .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: none;
}

.sidebar .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}

.sidebar.toggled {
    width: 0 !important;
    overflow: hidden;
}

@media (min-width: 768px) {
    .sidebar {
        width: 225px !important;
    }
    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
        width: 225px;
    }
    .sidebar .nav-item .nav-link span {
        font-size: 1rem;
        display: inline;
    }
    .sidebar .nav-item .dropdown-menu {
        position: static !important;
        margin: 0 1rem;
        top: 0;
    }
    .sidebar .nav-item.dropdown .dropdown-toggle::after {
        display: block;
    }
    .sidebar.toggled {
        overflow: visible;
        width: 90px !important;
    }
    .sidebar.toggled .nav-item:last-child {
        margin-bottom: 1rem;
    }
    .sidebar.toggled .nav-item .nav-link {
        text-align: center;
        padding: 0.75rem 1rem;
        width: 90px;
    }
    .sidebar.toggled .nav-item .nav-link span {
        font-size: 0.65rem;
        display: block;
    }
    .sidebar.toggled .nav-item .dropdown-menu {
        position: absolute !important;
        -webkit-transform: none !important;
        transform: none !important;
        left: calc(90px + 0.5rem) !important;
        margin: 0;
    }
    .sidebar.toggled .nav-item .dropdown-menu.dropup {
        bottom: 0;
        top: auto !important;
    }
    .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
        display: none;
    }
}

.sidebar.fixed-top {
    top: 56px;
    height: calc(100vh - 56px);
    overflow-y: auto;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -1.25rem;
    right: -1rem;
    opacity: 0.4;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2;
    }
}

:root {
    --input-padding-x: 0.75rem;
    --input-padding-y: 0.75rem;
}

.card-login {
    max-width: 25rem;
}

.card-register {
    max-width: 40rem;
}

.form-label-group {
    position: relative;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

footer.sticky-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% - 90px);
    height: 50px;
    background: #000;
    color: #fff;
}

footer.sticky-footer .copyright {
    line-height: 1;
    font-size: 0.8rem;
}

footer.sticky-footer .copyright a {
    color: #fff;
}

footer.sticky-footer .copyright a:hover {
    text-decoration: none;
    color: #ccc;
}

@media (min-width: 768px) {
    footer.sticky-footer {
        width: calc(100% - 225px);
    }
}

body.sidebar-toggled footer.sticky-footer {
    width: 100%;
}

@media (min-width: 768px) {
    body.sidebar-toggled footer.sticky-footer {
        width: calc(100% - 90px);
    }
}
